{%- if config.generate_feeds or config.extra.socials -%}
<address class="socials">
    <ul>
        {%- if config.generate_feeds -%}
        {%- for feed in config.feed_filenames %}
        <li>
            <a class="social-link" href="{{ get_url(path=feed) }}" title="{{ feed | trim_end_matches(pat=".xml") }} feed" aria-label="{{ feed | trim_end_matches(pat=".xml") }} feed">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    {% if feed == "atom.xml" -%}
                    <use href="{{ get_url(path="images/social_icons/atom.svg") | safe }}#icon" />
                    {%- else -%}
                    <use href="{{ get_url(path="images/social_icons/rss.svg") | safe }}#icon" />
                    {%- endif %}
                </svg>
            </a>
        </li>
        {%- endfor %}
        {%- endif -%}
        {%- for social in config.extra.socials | default(value=[]) %}
        <li>
            <a class="social-link" rel="me" href="{{ social.url | safe }}" title="{{ social.name }}" aria-label="{{ social.name }}">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use href="{{ get_url(path="images/social_icons/" ~ social.name ~ ".svg") | safe }}#icon" />
                </svg>
            </a>
        </li>
        {%- endfor %}
    </ul>
</address>
{% endif -%}
